body {
    background-image: url('Ilustração_Sem_Título.jpg');
    
}

.h1 {
    font-family: Pixel, sans-serif;
    color: rgb(16, 48, 23);
    margin-bottom: 20px;
    text-align: center;
    position: absolute;
    top: 50px;
        left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
}

.divBase {
    background-color: lightgoldenrodyellow;
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        margin: 200px auto;
}

.posTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.posNumber {
    font-family: Pixel, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-size: 60px;
}

.buttons {
    font-family: Pixel, sans-serif;
    color: white;
   background-color: seagreen;
   width: 80px;
   height: 40px;
   border-radius: 5px;
    cursor: pointer;
;
}

@font-face {
    font-family: Pixel;
    src: url('Pixel\ Digivolve.otf') format('opentype');
}
